<!DOCTYPE html>
<html lang="en">
{% set static_root = url_for('tabular.static', filename='') %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="./manifest.json">
    <link rel="shortcut icon" href="./favicon.ico">
    <title>DataExplorer</title>
    <meta name="csvapi-url" content="{{ config.TABULAR_PREVIEW_SERVER_URL }}" />
    <link href="{{ url_for('tabular.static', filename='dataexplorer') }}/{{ manifest('dataexplorer', 'main.css') }}" rel="stylesheet">
</head>

<body><noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="app"></div>
    <script type="text/javascript" src="{{ url_for('tabular.static', filename='dataexplorer') }}/{{ manifest('dataexplorer', 'main.js') }}"></script>
</body>

</html>
