<!DOCTYPE html>
<html>
<head>
    <title>DataExplorer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="csvapi-url" content="{{ config.TABULAR_CSVAPI_URL }}" />
    <meta name="page-size" content="{{ config.TABULAR_PAGE_SIZE }}" />
    <link href="{{ tabular_static('csvapi-front', 'chunk-vendors.css') }}" rel="stylesheet"-- >
    <link href="{{ tabular_static('csvapi-front', 'app.css') }}" rel="stylesheet"-->
</head>

<body><noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="app"></div>
    <script type="text/javascript" src="{{ tabular_static('csvapi-front', 'chunk-vendors.js') }}"></script>
    <script type="text/javascript" src="{{ tabular_static('csvapi-front', 'app.js') }}"></script>
</body>

</html>
